#
# AltSnap ignore file
#

.gdn/
c/

SHA256.TXT
AltSnap_bin.zip
AltSnap.exe

out/
cmake-*/
CMakeLists.txt~

build/
.output/
.vs/
**/x64/Debug/
**/x64/Release/
project/Debug/
project/Release/
project/AltSnapHooks/
project/x64/
.sarif/

*.lib
*.o
*.obj
*.bin
*.res
*.aps
*.tlog
*.lastbuildstate
unsuccesfulbuild
*.FileListAbsolute.txt
*.idb
*.applocal.log
*.ilk
*.pdb
*.log
*.exe.recipe
*.vcxproj.user
